.sources {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 90%;
    height: 300px;

    overflow: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
}

.source__item {
    margin: 0.5em;
    padding: 1em 2em;

    background: none;
    border: 2px solid #6f22c7;
    border-radius: 10px;

    font: inherit;
    line-height: 1;
    color: #f5f5f5;
    cursor: pointer;

    transition: 0.25s;
}

.source__item:focus {
    border-color: #ccc33f;
    color: #f0ec0d;
    box-shadow: 0 0.5em 0.5em -0.4em #becc3f;

    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

@media screen and (max-width:400px){
    .source__item {
        width: 100%;
        text-align: center;
    }
}

@media (hover:hover) {
    .source__item:hover {
        border-color: #f1e208;
        color: #eeeb43;
        box-shadow: 0 0.5em 0.5em -0.4em #f7e81e;

        transform: translateY(-0.25em);
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color:  #f1ce03;
    }
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #8d00c5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #a0a300;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: #9103e4;
  }