.error__container {
  display: flex;
  align-items: center;

  margin-top: 20px;
  border-radius: 5px;

  background-color: #a98eb9;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease;
}

.error__icon {
  width: 20px;
}

.error__icon_container {
  margin: 10px;
}

.error__text {
  font-weight: bold;
}
