.field-inputs {
  margin-bottom: 20px;

  .field-legend {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .field {
    display: flex;
  }

  .label-log,
  .label-pass {
    display: block;
    width: 30%;
    margin-bottom: 5px;
  }

  .input-log,
  .input-pass {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
